body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: column;
    padding: 0 10%;
    background-color: #212529;
    color: #F8F9FA;
}

.logo {
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: #F8F9FA;
    color: #212529;
    padding: 0 5px;
}

.logo img {
    width: 25px;
    height: auto;
}

h1 {
    font-size: 1.5rem;
}

h1 span {
    font-size: 2.5rem;
}

.main-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5%;
}

.header-container {
    display: flex;
    flex-direction: column;
}

.nav {
    display: flex;
    padding: 15px;
    justify-content: space-between;
}

.body {
    display: flex;
    flex-direction: column;
    background-color: #CED4DA;
    flex: 1;
}

.top {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 10%;
}

.top h2 {
    font-size: 2rem;
    margin: 3% 0;
}

.site-benefits {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    padding: 2.5% 0 7.5%;
    font-size: 1.25rem;
}

.middle {
    background-color: #495057;
    color: #F8F9FA;
    display: flex;
    flex-direction: column;
}

.top,
.middle,
.bottom {
    padding: 0 10%;
}

.footer {
    background-color: #212529;
    color: #F8F9FA;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7.5px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #F8F9FA;
}

p {
    padding: 0;
    margin: 0;
}

.testimonial {
    font-style: italic;
    padding: 5% 25% 2.5%;
    font-size: 1.25rem;
}

.name {
    font-weight: bold;
    text-align: right;
    padding-top: 2.5%;
}

.head-img {
    width: 300px;
    height: auto;
    border-radius: 10%;
}

.icon {
    width: 100px;
    height: auto;
}